<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="studentIdValidate" value="" />
    <add key="staffIdValidate" value="" />
    <add key="studentEmailValidate" value="" />
  </appSettings>

<connectionStrings>
  <add name="DBConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Rob Mulpeter\Documents\BACKUP\Mulpeter_10346867_AP_Assignment\DAL\myCollege.mdf;Integrated Security=True"
    providerName="System.Data.SqlClient" />
  <add name="Mulpeter_10346867_AP_Assignment.Properties.Settings.myCollegeConnectionString"
    connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Users\Rob Mulpeter\Documents\Visual Studio 2015\Projects\Mulpeter_10346867_AP_Assignment\DAL\myCollege.mdf&quot;;Integrated Security=True"
    providerName="System.Data.SqlClient" />
  <add name="Mulpeter_10346867_AP_Assignment.Properties.Settings.myCollegeConnectionString1"
    connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Users\Rob Mulpeter\Documents\BACKUP\Mulpeter_10346867_AP_Assignment\DAL\myCollege.mdf&quot;;Integrated Security=True"
    providerName="System.Data.SqlClient" />
</connectionStrings>

</configuration>